<!DOCTYPE html>
<html>
<head>
    <title>Verifier Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to the Verifier!</h1>
    <p>This is a sample page rendered using Handlebars.</p>
</body>
</html>